<div>
    <style>
        
    </style>
    <h2 style="font-family: 'Bungee Shade', cursive;text-align:center;font-size:50px;">
    rgb fill
    </h2>

    <div class="col-xs-12">
        <button id="learnBtn" class="col-xs-6 col-xs-offset-3" ng-click="onLearn()">Learn</button>
        <button id="playBtn" class="col-xs-6 col-xs-offset-3" ng-click="onPlay()">Play</button>
        <button id="highBtn" class="col-xs-6 col-xs-offset-3" ng-click="onStat()">Stats</button>
    </div>
    
      <div id="instruction2" style="color:grey;" class="blink">
            Press on a Tile!
            <br>
            Three tiles Adds Up!!
        </div>
        
        

</div>